<button
  class="{{ backgroundColor }}"
  (click)="tiklamaMetodu()"
  [routerLink]="route"
>
  {{ text }}
</button>

<!-- 
  Bunları yaparken takıldığın yerlerde Angular dökümanını incelemeyi unutma.
Todo:   -  [sayi]  +
Klasik Counter app

Todo 2: Bootstrap Angular'da nasıl çalışır?
Angular projesi oluşturup Bootstrap implemente et,

Sayfada şunlar olsun
Header: Her sayfada olacak
Solda sidebar: Her sayfada olacak
Anasayfa: Fake bilgi sayfası Hoşgeldiniz falan filan
Login Page:Sadece Header'dan veya Sidebardan Login yazısına tıklayınca açılacak
Signup Page:Sadece Header'dan veya Sidebardan Signup yazısına tıklayınca açılacak
Bu 2 sayfada Login, Signup formları olacak, tüm Htmli bootstrap componentlerinden (dökümanlardan) alabilirsin,
Formlarda tüm inputlar dolana kadar Login yada Signup butonu tıklanamaz olacak.
***Bonus: Fake bi kullanıcı objesi oluştur, sayfa açıldığında henüz giriş yapılmamış olsun, Loginden o objedeki username ve password doğru girilip Login butonuna basılırsa Header sağ üstünde Hoşgeldiniz {{username}} yazsın.

********Hızlı biterse,
JSON Server ile çalışma, Fake/Mock API nedir bakabilirsin, 

-->
